/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 
96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 
52 / 62 / 74 / 86 / 98
*/

/* MAIN COLOR: #087f5b
   GREY COLOR: #343a40 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #343a40;
}

nav {
  margin-top: 44px;
  display: flex;
}

nav div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.websiteName:link {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 1000;
  font-style: normal;
  font-size: 36px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  color: #006d77;
  padding-right: 10px;
}

.websiteName:visited {
  color: #006d77;
}

.websiteName:hover {
  color: #006d77;
}

.websiteName:active {
  color: #006d77;
}

.welcome p {
  font-size: 25px;
  margin-bottom: 5px !important;
}

.welcome p span {
  color: #006d77;
}

nav a:link {
  font-size: 20px;
  color: #343a40;
  text-decoration: none;
}

nav a:visited {
  color: #343a40;
}

nav a:hover {
  transition: background-color 0.3s, color 0.3s;
  color: #006d77;
}

.homepage {
  padding: 16px 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  color: #006d77 !important;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  border: 1px solid #006d77;
}

.homepage:hover {
  background-color: #006d77;
  color: #f8f9fa !important;
}

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 70px;
}

.pagename {
  font-size: 60px;
  color: #333;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Baskervville", serif;
  font-weight: 700;
  font-style: normal;
  color: #006d77;
}

.sub-caption {
  font-family: "Noto Serif", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  color: #02555d;
}

.sentiment-analysis {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
}

.sentiment-analysis div {
  width: 600px;
  position: relative;
  align-self: center;
}

.sentiment-analysis div p:nth-of-type(1) {
  font-size: 30px;
  font-weight: 600;
  border-bottom: 4px solid #006d77;
  border-top: 4px solid #006d77;
  display: inline-block;
}

.sentiment-analysis div img {
  height: 50px;
  position: absolute;
  left: -60px;
  top: 3px;
}

.sentiment-analysis div p:nth-of-type(1) span {
  color: #006d77;
}

.sentiment-analysis div p:nth-of-type(2) {
  text-align: justify;
  font-size: 18px;
}

.sentiment-analysis img {
  height: 450px;
}

.how-it-works-div {
  margin-top: 50px;
  position: relative;
}

.how-it-works-div img {
  height: 50px;
  position: absolute;
  left: -15px;
  top: 2px;
}

.how-it-works {
  font-size: 30px;
  font-weight: 600;
  border-bottom: 4px solid #006d77;
  border-top: 4px solid #006d77;
  display: inline-block;
  margin-left: 45px;
}

.step-name {
  color: #006d77;
  font-size: 20px;
  margin-bottom: 0;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 100px;
  row-gap: 30px;
  justify-items: center;
  /* align-items: center; */
  margin-top: 10px;
  margin-bottom: 50px;
}

.steps div {
  position: relative;
  width: 500px;
}

.steps div p {
  text-align: justify;
}

.steps div img:nth-of-type(1) {
  height: 25px;
  position: absolute;
  left: -30px;
  top: 4px;
}
/* ************************************************** */

.simulation {
  font-size: 30px;
  font-weight: 600;
  border-bottom: 4px solid #006d77;
  border-top: 4px solid #006d77;
  display: inline-block;
  margin-left: 35px;
}

.simulation span {
  color: #006d77;
}

form {
  margin-left: 35px;
  font-weight: 600;
  font-family: "Baskervville", serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.input-options label {
  color: #149414;
}

.input-options label:nth-of-type(1) {
  color: #149414;
  margin-bottom: 20px;
}

#textInput label {
  color: #149414;
  margin-bottom: 20px;
}

.form-group label {
  color: #149414;
  margin-bottom: 0 !important;
}

.form-group #textData {
  margin-bottom: 20px;
}

/* General styling for the dropdown */
.animated-dropdown {
  padding: 8px 12px;
  background: #ffffff;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
}

.animated-dropdown:hover,
.animated-dropdown:focus {
  border-color: #149414;
  box-shadow: 0 2px 8px rgba(20, 148, 20, 0.3);
}

textarea,
.form-group input {
  background: #ffffff;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

textarea:hover,
textarea:focus .form-group input:hover,
.form-group input:focus {
  border-color: #006d77;
  box-shadow: 0 2px 8px rgba(0, 109, 119, 0.3);
}

.encrypt-button {
  padding: 10px 14px;
  background-color: #149414;
  border-radius: 1000px;
  color: #f8f9fa !important;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #149414;
  font-family: "Noto Serif", serif !important;
}

.encrypt-button:visited,
.encrypt-button:active {
  color: #edf6f9;
}

.encrypt-button:hover {
  background-color: #f8f9fa;
  color: #149414 !important;
}

/* ************************************ */

.results {
  margin-left: 35px;
  /* border: 5px ssolid #006d77; */
}

.text-entered,
.sentiment-result {
  color: #006d77;
  font-size: 25px;
  font-family: "Baskervville", serif;
  font-weight: 600;
}

.result {
  font-size: 20px;
  font-family: "Noto Serif", sans-serif;
}

.analyze-button {
  padding: 6px 16px;
  border-radius: 1000px;
  background-color: #006d77;
  color: #f8f9fa;
  font-weight: 600;
  /* letter-spacing: 1px; */
  font-family: "Baskervville", serif;
  margin-top: -20px;
}
